@model MovieLibrary.Web.Models.Movies.MovieFormModel

@{
    ViewData["Title"] = "Edit " + @Model.Title;
}

<h4 style="text-align: center; margin-top: 40px;">Edit @Model.Title</h4>
<hr />
<div class="row">
    <div class="col-md-6" style="margin: 0 auto;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatorId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PremiereDate" class="control-label"></label>
                <input asp-for="PremiereDate" class="form-control" />
                <span asp-validation-for="PremiereDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Overview" class="control-label"></label>
                <textarea asp-for="Overview" class="form-control"></textarea>
                <span asp-validation-for="Overview" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: inline-block;">
                <label asp-for="GenreId"></label>
                <br/>
                <select asp-for="GenreId">
                    @foreach (var genre in Model.Genres.OrderBy(c => c.Name))
                    {
                        <option value="@genre.Id">@genre.Name</option>
                    }
                </select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
